@import (reference) './base.less';
@import './components/index.less';
@import './widget/index.less';
@import './iconfonts/style.css';

.klinecharts-pro-bg-background {
  background-color: #191925;
}

.klinecharts-pro-bg-card {
  background-color: #232333;
}

.klinecharts-pro-text-foreground {
  color: #6f6e84;
}

.hover-text:hover {
  color: #fff;
}
.border-r {
  border-right: 1px solid #2b2b3b;
}

.periods-card {
  display: hidden;
  &.peer-hover {
    display: flex;
  }
  &.hover {
    display: flex;
  }
}

.periods-button {
  &:hover {
    background-color: #ffffff;
  }
}

.menu {
  display: flex;
  justify-content: center;
}

.dropdown {
  width: 100%;
  height: 100%;
  // padding: 20px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f6e84;
  //  background: #C06162
  //  background: #34495e;
  position: relative;
  font-size: 14px;
  perspective: 1000px;
  z-index: 100;
  &:hover {
    color: white;
    cursor: pointer;
  }
  &:hover .dropdown_menu li {
    display: block;
  }
}

.dropdown_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 140px;
  perspective: 1000px;
  z-index: -1;
  margin: 0;
  padding: 6px 4px;
  background-color: #232333;
  border-radius: 8px;
  div {
    // display: flex;
    // justify-content: space-around;
    display: grid;
    grid-template-columns: auto auto auto;
    // grid-gap: 10px;
    button {
      width: 40px;
      background-color: #232333;
      border: none;
      color: #6f6e84;
      padding: 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      // margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
      &:hover {
        background-color: black;
        color: white;
      }
    }
  }
}

// Menu as a whole animated
.dropdown:hover .dropdown_menu--animated {
  display: block;
}

.dropdown_menu--animated {
  display: none;
  li {
    display: block;
    opacity: 1;
  }
}

.dropdown_menu-6 {
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.@{prefix-cls} {
  --klinecharts-pro-primary-color: @c-primary;
  --klinecharts-pro-hover-background-color: @c-hover-background-light;
  --klinecharts-pro-background-color: @c-background-light;
  --klinecharts-pro-popover-background-color: @c-popover-background-light;
  --klinecharts-pro-text-color: @c-text-light;
  --klinecharts-pro-text-second-color: @c-text-second-light;
  --klinecharts-pro-border-color: @c-border-light;
  --klinecharts-pro-selected-color: fade(@c-primary, 15%);
  &[data-theme='dark'] {
    --klinecharts-pro-hover-background-color: @c-hover-background-dark;
    --klinecharts-pro-background-color: @c-background-dark;
    --klinecharts-pro-popover-background-color: @c-popover-background-dark;
    --klinecharts-pro-text-color: @c-text-dark;
    --klinecharts-pro-text-second-color: @c-text-second-dark;
    --klinecharts-pro-border-color: @c-border-dark;
  }
  position: relative;
  display: flex;
  flex-direction: column;
  color: var(--klinecharts-pro-text-color);
  background-color: var(--klinecharts-pro-background-color);
  font-size: 14px;
  height: 100%;
  &-watermark {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    .logo {
      width: 160px;
      height: 184px;
      fill: var(--klinecharts-pro-border-color);
    }
  }
  &-price-unit {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 30;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    font-size: 10px;
    font-weight: bold;
    padding: 1px 4px;
    color: var(--klinecharts-pro-text-second-color);
    box-shadow: 0 3px 3px 0 rgba(50, 50, 50, 0.3);
    border: solid 1px var(--klinecharts-pro-border-color);
    background-color: var(--klinecharts-pro-background-color);
  }
  &-load-icon {
    position: absolute;
    left: 0;
    height: 0;
    z-index: -1;
    opacity: 0;
  }
  &-content {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: @widget-height;
  }
  &-widget {
    width: @widget-width;
    height: 100%;
    margin-left: 0;
    &[data-drawing-bar-visible='false'] {
      width: 100%;
    }
  }
}
